<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://budget.documents.azure.com:443/" />
		<add key="PrimaryKey" value="GgKF7BfI7f4MDgqu4ok0vpysdi9eUHL1jzY7GpKutuqdiqHgA3GcCsPUUAgZsYwG4nhpdexNWp7nACDbvQuidw==" />
	</appSettings>
</configuration>